<link rel="stylesheet" href="/stylesheets/courierAccount.css">

<div>вы зашли в личный кабинет</div>

<form action="/courier" method="POST">

  <input type="text" placeholder="title" name="title">
  <input type="text" placeholder="pictureURL" name="picture">
  <input type="text" placeholder="original price" name="original_price">
  <input type="text" placeholder="discount price" name="discount_price">
  <button type="submit">Submit</button>
</form>
