<h2 class="centrReg">Регистрация</h2>
<form class="centrReg" name="registerForm" method="POST" action="/auth/register">
<label>
    Login
    <br />
    <input type="text" name="login" />
  </label>

  <br />
  <label>
    Email
    <br />
    <input type="email" name="email" />
  </label>

  <br />
  <label>
    phone
    <br />
    <input type="tel" name="phone" pattern="[8]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
  </label>

  <br />
    <label>
    type
    <br />
    <input type="text" name="phone" />
  </label>

  <br />
  <label>
    Пароль
    <br />
    <input type="password" name="password" />
  </label>
  <br />
  <br />
  
  <button type="submit">Зарегистрироваться</button>
</form>
