<div class="regForm">
  <form class="d-flex justify-content-center" name="registerForm" method="POST" action="/auth/register">
    <div>
      <div class="mb-3 mt-3">
        <label for="exampleInputUserName" class="form-label">Имя пользователя</label>
        <input name="login" placeholder="login"  type="userName" class="form-control w-100 p-2" id="exampleInputPassword2">
      </div class="d-flex justify-content-center">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
        <input placeholder="email" name="email" type="email" class="form-control w-100 p-2" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту</div>
    </div>
      <div class="mb-3">
        <label for="exampleInputUserName" class="form-label">Номер телефона</label>
        <input type="tel" name="phone" pattern="[8]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone, please use patter 8-999-999-9999" class="form-control w-100 p-2" id="exampleInputPassword3">
      </div class="d-flex justify-content-center">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Пароль</label>
        <input placeholder="Password" name="password" type="password" class="form-control w-100 p-2" id="exampleInputPassword1">
      </div class="d-flex justify-content-center">
      <div class="mb-3">
        <select id="userType" name="type_user" class="form-select" aria-label="Disabled select example" >
          <option selected>Open user type</option>
          <option value="customer">customer</option>
          <option value="courier">courier</option>
        </select>
      </div class="d-flex justify-content-center">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-info">Зарегистрироваться</button>
      </div>
      <div class="error d-flex justify-content-center mt-3"></div>
    </div>
  </form>
</div>
