<h2 class="centrReg">Регистрация</h2>
<form class="centrReg" name="registerForm" method="POST" action="/auth/register">
  <label>
    Login
    <br />
    <input type="text" name="login" />
  </label>

  <br />
  <label>
    Email
    <br />
    <input type="email" name="email" />
  </label>

  <br />
  <label>
    phone, please use patter 8-999-999-9999
    <br />
    <input type="tel" name="phone" pattern="[8]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}">
  </label>

  <br />
  <label for="userType">
    How would you describe yourself
    <br />
    <select name="type_user" id="userType">
      <option value="customer">customer</option>
      <option value="courier">courier</option>
    </select>
  </label>

  <br />
  <label>
    Пароль
    <br />
    <input type="password" name="password" />
  </label>
  <br />
  <br />

  <button type="submit">Зарегистрироваться</button>
</form>
