form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%
}

form input{
  margin-bottom: 0.3rem;
}


.tableDiv{
  width:85%;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tableDiv td, .firstCell{
  text-align: left;
  vertical-align: middle;

}
h1{
  text-align: center;

}
