

.tableDiv{
  width:85%;
  margin-left: 100px;
  
}


.tableDiv td, .firstCell{
  text-align: left;
  vertical-align: middle;

}

.tableDiv th{
  font-size: small;
  font-weight: 500;
  text-align: left;
  vertical-align: middle;
}

#map {
  height: 300px;
  width: 800px;
}
