body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: rgba(144, 238, 144, 0.534); */
}
.lehinBar {
  /* background-color: rgba(102, 96, 101, 0.315); */
}
